body {
    text-align: center;
    color: white;
    background-color: black;
    font-family: Verdana;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;;
}

footer {
    text-align: right;
}

.phone-icon {
    margin-top: 25px;
}